<.header>
  Edit Traceroute <%= @traceroute.id %>
  <:subtitle>Use this form to manage traceroute records in your database.</:subtitle>
</.header>

<.traceroute_form changeset={@changeset} action={~p"/traceroutes/#{@traceroute}"} />

<.back navigate={~p"/traceroutes"}>Back to traceroutes</.back>
