<.header>
  New Traceroute
  <:subtitle>Use this form to manage traceroute records in your database.</:subtitle>
</.header>

<.traceroute_form changeset={@changeset} action={~p"/traceroutes"} />

<.back navigate={~p"/traceroutes"}>Back to traceroutes</.back>
